################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

compliancebeat:
  checks:
  - 
    name: "ActiveDirectryCompliance.ps1"
    path: "scripts"
    category: "ActiveDirectory"
    enabled: true
    program: "powershell" 
    period: 1m
    params: []
